#rpModal {
    display: none;
    padding-top: 20%;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    line-height: 200px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    vertical-align: middle;
  }
  
  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
    }
  
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .swal2-popup {
    font-size: 1.6rem !important;
  }
  
  #preview_image {
    display: none;
    max-width: 300px;
    max-height: 168px;
    height: auto;
  }
  
  .imagesize {
    max-width: 200px;
    max-height: 150px;
    height: auto;
    width: auto;
  }
  